In [2]:
import numpy as np
import geopandas as gpd
import pandas as pd

In [3]:
shen_df = pd.read_csv('../geod/china_shen_2020.csv')

In [4]:
gsrm_df = pd.read_csv('../geod/e_asia_gsrm.csv')

In [5]:
shen_df.tail()

,site,lon,lat,ve_itrf,ve_eur,ve_err,vn_itrf,vn_eur,vn_err,corr
2398,YNTH_GPS,102.751,24.118,33.4,6.5,0.3,-13.6,-7.6,0.3,0.0
2399,YNYA_GPS,101.327,25.724,33.0,5.9,0.3,-16.6,-10.9,0.3,0.0
2400,YNYL_GPS,99.372,25.885,27.9,0.7,0.3,-16.9,-11.7,0.4,0.0
2401,YNZD_GPS,99.698,27.823,34.4,7.1,0.3,-20.4,-15.1,0.3,0.0
2402,ZJWZ_GPS,120.763,27.934,32.4,6.5,0.3,-12.2,-1.9,0.3,0.0

In [6]:
gsrm_df.tail()

           lon     lat   e_vel  n_vel  e_err  n_err station  ref
22506  -84.297  33.380 -24.316 -2.801  0.300  0.304    ZTL4  UNR
22507 -117.490  37.558 -25.543 -3.863  0.338  0.117    ZUMA  UNR
22508  -92.681  44.291 -21.140 -4.027  0.363  0.413    ZUMB  UNR
22509   36.758  55.699  -0.066  0.493  0.334  0.454    ZWE0  UNR
22510   19.206  49.687   0.006  0.974  0.319  0.363    ZYWI  UNR

In [8]:
EARTH_RADIUS = 6371.0

def _prepare_coords(lons1, lats1, lons2, lats2):
    """
    Convert two pairs of spherical coordinates in decimal degrees
    to np arrays of radians. Makes sure that respective coordinates
    in pairs have the same shape.
    """
    lons1 = np.radians(lons1)
    lats1 = np.radians(lats1)
    assert lons1.shape == lats1.shape
    lons2 = np.radians(lons2)
    lats2 = np.radians(lats2)
    assert lons2.shape == lats2.shape
    return lons1, lats1, lons2, lats2


def geodetic_distance(lons1, lats1, lons2, lats2, diameter=2*EARTH_RADIUS):
    """
    Calculate the geodetic distance between two points or two collections
    of points.
    Parameters are coordinates in decimal degrees. They could be scalar
    float numbers or np arrays, in which case they should "broadcast
    together".
    Implements http://williams.best.vwh.net/avform.htm#Dist
    :returns:
        Distance in km, floating point scalar or np array of such.
    """
    #lons1, lats1, lons2, lats2 = _prepare_coords(lons1, lats1, lons2, lats2)
    distance = np.arcsin(np.sqrt(
        np.sin((lats1 - lats2) / 2.0) ** 2.0
        + np.cos(lats1) * np.cos(lats2)
        * np.sin((lons1 - lons2) / 2.0) ** 2.0
    ))
    return diameter * distance

In [14]:
def get_min_distance(lons1, lats1, lons2, lats2):
    return np.array([np.min(geodetic_distance(lon, lats1[i], lons2, lats2))
                    for i, lon in enumerate(lons1)])

In [17]:
get_min_distance(shen_df.lon[:10], shen_df.lat[:10], gsrm_df.lon[:100], gsrm_df.lat[:100])

array([2584.25874196, 1523.23610748, 1556.69230244, 1591.20237779,
       1627.99538891, 1513.95279224, 1528.54473195, 1557.92133515,
       1620.21849907, 1483.72948383])

In [19]:
dists = get_min_distance(gsrm_df.lon, gsrm_df.lat, shen_df.lon, shen_df.lat)

In [20]:
gsrm_trim = gsrm_df.loc[dists > 5.]

In [21]:
gsrm_trim.shape

(20484, 8)

In [22]:
gsrm_df.shape

(22511, 8)

In [23]:
shen_df.columns

Index(['site', 'lon', 'lat', 've_itrf', 've_eur', 've_err', 'vn_itrf',
       'vn_eur', 'vn_err', 'corr'],
      dtype='object')

In [24]:
gsrm_df.columns

Index(['lon', 'lat', 'e_vel', 'n_vel', 'e_err', 'n_err', 'station', 'ref'], dtype='object')

In [25]:
shen_newcols = shen_df[['lon', 'lat', 've_eur', 'vn_eur', 've_err', 'vn_err', 'site']]

In [26]:
shen_newcols['ref'] = 'wang_shen_2020'

/Users/itchy/src/miniconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
shen_newcols.columns = gsrm_df.columns

In [28]:
all_vels = pd.concat((shen_newcols, gsrm_trim), axis=0)

In [29]:
all_vels.tail()

           lon     lat   e_vel  n_vel  e_err  n_err station  ref
22505  -65.993  18.431  -9.327  5.104  0.305  0.354    ZSU1  UNR
22506  -84.297  33.380 -24.316 -2.801  0.300  0.304    ZTL4  UNR
22507 -117.490  37.558 -25.543 -3.863  0.338  0.117    ZUMA  UNR
22508  -92.681  44.291 -21.140 -4.027  0.363  0.413    ZUMB  UNR
22510   19.206  49.687   0.006  0.974  0.319  0.363    ZYWI  UNR

In [30]:
all_vels.to_csv('../geod/e_asia_vels_eur.csv', index=False)